body {
  font-family: Arial;
  background: #f9f9f9;
  padding: 30px;
}

h1 {
  text-align: center;
}

form {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

input, select, textarea, button {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}

button {
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
